<div class="content-wrapper">
    <h1 class="content__header">Teachers</h1>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-2"></div>
            <div class="col-xl-8">
                <div class="card">
                    <ngx-ui-loader [loaderId]="'teachersLoader'"></ngx-ui-loader>
                    <div class="card-header">Table</div>
                    <div class="card-body">
                        <div class="mb-3">
                            <input class="form-control" type="text" placeholder="Search..." (input)="search($event.target.value)"/>
                        </div>
                        <div class="table-responsive">
                            <table class="table">
                                <thead class="thead-dark">
                                    <tr>
                                        <th scope="col">Teacher</th>
                                        <th scope="col">Age</th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let teacher of filteredteachers | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
                                        <th scope="col">{{teacher.name}} {{teacher.surname}}</th>
                                        <th scope="col">{{teacher.age}}</th>
                                        <th scope="col" class="text-center">
                                            <a class="btn btn-success m-1" [routerLink]="['/manager/teachers/edit', teacher.id]"><i class="fas fa-edit"></i></a>
                                            <a class="btn btn-danger m-1" (click)="deleteTeacher(teacher.id)"><i class="fas fa-trash"></i></a>
                                        </th>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="filteredteachers.length"></ngb-pagination>
                        <div class="mt-3">
                            <a class="btn btn-head" [routerLink]="['/manager/teachers/edit']">Add new teacher</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-2"></div>
        </div>
    </div>
</div>