<div class="content">
    <h1 class="content__header">Group control</h1>
    <div class="containt-fluid">
        <div class="row">
            <div class="col-xl-6 form-group">
                <div class="card">
                    <ngx-ui-loader [loaderId]="'studentsLoader'"></ngx-ui-loader>
                    <div class="card-header">Students</div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class="thead-dark">
                                    <tr>
                                        <th scope="col">Students</th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let student of groupStudents | slice: (pageStudent-1) * pageSize : (pageStudent-1) * pageSize + pageSize">
                                        <th scope="col">
                                            <p class="modal-link" (click)="open(content, student.id)">{{student.name}} {{student.surname}}</p>
                                        </th>
                                        <th scope="col">
                                            <a class="btn btn-success" [routerLink]="['/teacher/marks/edit']" [queryParams]="{groupId: groupId, studentId: student.id}">Add mark</a>
                                        </th>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <ngb-pagination [(page)]="pageStudent" [pageSize]="pageSize" [collectionSize]="groupStudents.length"></ngb-pagination>
                        <div class="pt-3">
                            <a class="btn btn-head mr-3" [routerLink]="['/teacher/marks/groupMarks']" [queryParams]="{groupId: groupId}">Group marks</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 form-group">
                <div class="card">
                    <ngx-ui-loader [loaderId]="'materialsLoader'"></ngx-ui-loader>
                    <div class="card-header">Materials</div>
                    <div class="card-body">
                        <div class="table-responsive scroll-div content-table">
                            <table class="table">
                                <thead class="thead-dark">
                                    <tr>
                                        <th scope="col">Name</th>
                                        <th scope="col">Type</th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let material of groupMaterials | slice: (pageMaterial-1) * pageSize : (pageMaterial-1) * pageSize + pageSize">
                                        <th scope="col">{{material.name}}</th>
                                        <th scope="col">{{material.materialType}}</th>
                                        <th scope="col" class="text-center">
                                            <a class="btn btn-success m-1" [routerLink]="['/teacher/materials/edit', material.id]" [queryParams]="{groupId: groupId}"><i class="fas fa-edit"></i></a>
                                            <a class="btn btn-danger m-1" (click)="deleteMaterial(material.id)"><i class="fas fa-trash"></i></a>
                                        </th>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <ngb-pagination [(page)]="pageMaterial" [pageSize]="pageSize" [collectionSize]="groupMaterials.length"></ngb-pagination>
                        <div class="mt-3">
                            <a class="btn btn-head mr-3" [routerLink]="['/teacher/materials/edit']" [queryParams]="{groupId: groupId}">Add new material</a>
                            <a class="btn btn-head" [routerLink]="['/teacher/materials/addFile']">Add file</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #content let-modal>
    <div class="modal-header">
      <h5 class="modal-title" id="staticBackdropLabel">Student info</h5>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <dl class="row modal-body">
        <dt class="col-sm-3">Name</dt>
        <dd class="col-sm-9">{{studentInfo.name}}</dd>

        <dt class="col-sm-3">Surname</dt>
        <dd class="col-sm-9">{{studentInfo.surname}}</dd>

        <dt class="col-sm-3">Age</dt>
        <dd class="col-sm-9">{{studentInfo.age}}</dd>

        <dt class="col-sm-3">Group</dt>
        <dd class="col-sm-9" *ngIf="studentInfo.hasGroup; else elseTemplate">Has group</dd>
        <ng-template #elseTemplate>
            <dd class="col-sm-9 text-danger">Without group</dd>
        </ng-template>
    </dl>
  </ng-template>