@using TrainingCenterCRM.BLL.DTO
@model TrainingCenterCRM.Models.GroupModel
@{
    ViewData["Title"] = "Add group";
}
<div class="content">
    <h1 class="content__header">Add group</h1>
    <div class="containt-fluid">
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                @using (Html.BeginForm("AddGroup", "Groups", FormMethod.Post))
                {
                    <div class="mb-3 row">
                        <label asp-for="Name" class="col-sm-2 col-form-label"></label>
                        <div class="col-sm-10">
                            <input class="form-control" type="text" asp-for="Name" required />
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label asp-for="StartDate" class="col-sm-2 col-form-label"></label>
                        <div class="col-sm-10">
                            <input class="form-control" type="date" asp-for="StartDate" required />
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label asp-for="TeacherId" class="col-sm-2 col-form-label"></label>
                        <div class="col-sm-10">
                            <select class="form-control" asp-for="TeacherId" required>
                                @foreach (var teacher in (List<TeacherDTO>)ViewData["Teachers"])
                                {
                                    <option value="@teacher.Id">@teacher.Name @teacher.Surname</option>
                                }
                            </select>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success">Add group</button>
                }
            </div>
            <div class="col-sm-4"></div>
        </div>
    </div>
</div>