<div class="content-wrapper">
    <h1 class="content__header">Groups</h1>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-2"></div>
            <div class="col-xl-8">
                <div class="card">
                    <ngx-ui-loader [loaderId]="'groupsLoader'"></ngx-ui-loader>
                    <div class="card-header">Table</div>
                    <div class="card-body">
                        <div class="mb-3">
                            <input class="form-control" type="text" placeholder="Search..." (input)="search($event.target.value)"/>
                        </div>
                        <div class="table-responsive">
                            <table class="table">
                                <thead class="thead-dark">
                                    <tr>
                                        <th scope="col">Name</th>
                                        <th scope="col">Start date</th>
                                        <th scope="col">Teacher</th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let group of filteredGroups | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
                                        <th scope="col">{{group.name}}</th>
                                        <th scope="col">{{group.startDate | date:'longDate'}}</th>
                                        <th scope="col">{{group.teacher.name}} {{group.teacher.surname}}</th>
                                        <th scope="col" class="text-center">
                                            <a class="btn btn-success m-1" (click)="sendInviteNotifications(group.id)"  >
                                                <i class="fas fa-envelope-open-text"></i>
                                                Send invite notification
                                            </a>
                                            <a class="btn btn-success m-1" [routerLink]="['/manager/groups/edit', group.id]" ><i class="fas fa-edit"></i></a>
                                            <a class="btn btn-danger m-1" asp-controller="Groups" asp-action="DeleteGroup" asp-route-id="@group.Id"><i class="fas fa-trash"></i></a>
                                        </th>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="filteredGroups.length"></ngb-pagination>
                        <div class="mt-3">
                            <a class="btn btn-head" [routerLink]="['/manager/groups/edit']">Add new group</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-2"></div>
    </div>
</div>