<div class="content">
    <h1 class="content__header">Materials</h1>
    <div class="containt-fluid">
        <div class="row">
            <div class="col-xl-2"></div>
            <div class="col-xl-8">
                <div class="card">
                    <ngx-ui-loader [loaderId]="'loader'"></ngx-ui-loader>
                    <div class="card-header">Table</div>
                    <div class="card-body">
                        <div class="table-responsive scroll-div content-table">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">Name</th>
                                        <th scope="col">Type</th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let material of materials | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
                                        <th scope="col">{{material.name}}</th>
                                        <th scope="col">{{material.materialType}}</th>
                                        <th scope="col" class="text-center">
                                            <a class="btn btn-success m-1" [routerLink]="['/teacher/materials/edit', material.id]" ><i class="fas fa-edit"></i></a>
                                            <a class="btn btn-danger m-1" asp-controller="Materials" asp-action="DeleteMaterial" asp-route-id="@material.Id"><i class="fas fa-trash"></i></a>
                                        </th>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="materials.length"></ngb-pagination>
                        <a class="btn btn-head" [routerLink]="['/teacher/materials/edit']">Add new material</a>
                        <a class="btn btn-head" [routerLink]="['/teacher/materials/addFile']">Add file</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-2"></div>
        </div>
    </div>
</div>