
<div class="content">
    <h1 class="content__header">Courses</h1>
    <div class="containt-fluid">
        <div class="row">
            <div class="col-xl-2"></div>
            <div class="col-xl-8 ">
                <div class="card">
                    <div class="card-header">Table</div>
                    <div class="card-body">
                        <div class="table-responsive scroll-div content-table">
                            <table class="table">
                                <thead class="thead-dark">
                                    <tr>
                                        <th scope="col">Title</th>
                                        <th scope="col">Description</th>
                                        <th scope="col" class="w-25"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let course of courses">
                                        <th scope="col">{{course.title}}</th>
                                        <th scope="col">{{course.description}}</th>
                                        <th scope="col" class="text-center">
                                            <a class="btn btn-success m-1" [routerLink]="['/manager/courses/edit', course.id]"><i class="fas fa-edit"></i></a>
                                            <a class="btn btn-danger m-1" (click)="deleteCourse(course.id)"><i class="fas fa-trash"></i></a>
                                        </th>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <a class="btn btn-head" [routerLink]="['/manager/courses/edit']">Add new course</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-2"></div>
        </div>
    </div>
</div>