
<div class="content">
    <h1 class="content__header">Courses</h1>
    <div class="containt-fluid">
        <div class="row">
            <div class="col-xl-2"></div>
            <div class="col-xl-8 ">
                <div class="card">
                    <ngx-ui-loader [loaderId]="'loader'"></ngx-ui-loader>
                    <div class="card-header">Table</div>
                    <div class="card-body">
                        <div class="mb-3">
                            <input class="form-control" type="text" placeholder="Search..." (input)="search($event.target.value)"/>
                        </div>
                        <div class="table-responsive">
                            <table class="table">
                                <thead class="thead-dark">
                                    <tr>
                                        <th scope="col">Title</th>
                                        <th scope="col">Description</th>
                                        <th scope="col" class="w-25"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let course of filteredCourses | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
                                        <th scope="col">{{course.title}}</th>
                                        <th scope="col">{{course.description}}</th>
                                        <th scope="col" class="text-center">
                                            <a class="btn btn-success m-1" [routerLink]="['/manager/courses/edit', course.id]"><i class="fas fa-edit"></i></a>
                                            <a class="btn btn-danger m-1" (click)="deleteCourse(course.id)"><i class="fas fa-trash"></i></a>
                                        </th>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="filteredCourses.length"></ngb-pagination>
                        <div class="mt-3">
                            <a class="btn btn-head mr-3" [routerLink]="['/manager/courses/edit']">Add new course</a>
                            <button class="btn btn-head" (click)="download()">Download <i class="fas fa-download"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-2"></div>
        </div>
    </div>
</div>