<div class="content-wrapper">
    <div class="position-relative toast-box">
        <div class="toast-container position-absolute top-0 end-0">
        </div>
    </div>
    <h1 class="content__header">Work with course</h1>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-3"></div>
            <div class="col-xl-6">
                <div class="card">
                    <div class="card-header">
                        Course
                    </div>
                    <div class="card-body">
                        <form enctype="multipart/form-data" method="post" [formGroup]="form" autocomplete="off" (submit)="onSubmit()">
                            <p class="text-danger"></p>
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <div id="drop-area" appDnd (fileDropped)="onFileDropped($event)">
                                        <input type="file" #fileDropRef id="fileDropRef" accept=".png, .jpg , .jpeg" (change)="fileBrowseHandler($event.target.files)">
                                        <label class="btn btn-head" for="fileDropRef">
                                            Select image
                                            <i class="fas fa-cloud-upload-alt"></i>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <img id="img-icon" class="img-fluid" [src]="icon" />
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label class="col-sm-3 col-form-label">Title</label>
                                <div class="col-sm-9">
                                    <input class="form-control" type="text" formControlName="title" />
                                    <span class="alert-danger" *ngIf="form.get('title').touched && form.get('title').errors">This field is invalid</span>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label class="col-sm-3 col-form-label">Description</label>
                                <div class="col-sm-9">
                                    <input class="form-control" type="text" formControlName="description" />
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label class="col-sm-3 col-form-label">Price</label>
                                <div class="col-sm-9">
                                    <input class="form-control" type="number" formControlName="price" />
                                    <span class="alert-danger" *ngIf="form.get('price').touched && form.get('price').errors">This field is invalid</span>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label class="col-sm-3 col-form-label">Topic</label>
                                <div class="col-sm-9">
                                    <select class="form-control" formControlName="topicId">
                                        <option value="">Select topic</option>
                                        <option [value]="topic.id" *ngFor="let topic of topics">{{topic.title}}</option>
                                    </select>
                                    <span class="alert-danger" *ngIf="form.get('topicId').touched && form.get('topicId').errors">This field is invalid</span>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-success" [disabled]="form.invalid">Ok</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-xl-3"></div>
        </div>
    </div>
</div>