<footer class="footer">
  <div class="wrapper">
    <div class="footer-content">
      <a
        href="#"
        class="
          text-decoration-none
          d-flex
          align-items-center
          justify-content-center
        "
      >
        <div class="logo">
          <h2 class="logo-header">ACADEMIA</h2>
          <p class="logo-subheader">Education Centre</p>
        </div>
      </a>
      <ul class="footer-contact">
        <li>
          <a
            class="footer-contact__link"
            href="https://goo.gl/maps/bfxWm8gS7fpzK2YP7"
          >
            <i class="fas fa-map-marked-alt"></i> Belarus, Minsk, Bogdanovich
            str.</a
          >
        </li>
        <li>
          <a class="footer-contact__link" href="tel:80294443322">
            <i class="fas fa-phone-alt"></i> 80(29) 444-33-22</a
          >
        </li>
        <li>
          <a class="footer-contact__link" href="mailto:academia@google.com">
            <i class="far fa-paper-plane"></i> academia@google.com</a
          >
        </li>
      </ul>
    </div>
  </div>
</footer>