<header>
  <nav class="navbar navbar-expand-lg menu">
    <div class="container-fluid wrapper menu-content">
      <a class="navbar-brand" href="#">
        <div class="logo">
          <h2 class="logo-header">ACADEMIA</h2>
          <p class="logo-subheader">Education Centre</p>
        </div>
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon">
          <img class="img-fluid" src="assets/icons/menu.png">
        </span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link "
            [routerLink]="['/']"
            [routerLinkActive]="['active']"
            [routerLinkActiveOptions]="{ exact: true }">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"
            [routerLink]="['/courses']"
            [routerLinkActive]="['active']">All courses</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"
            [routerLink]="['/teachers']"
            [routerLinkActive]="['active']">Teachers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"
            [routerLink]="['/contacts']"
            [routerLinkActive]="['active']">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>