<div class="content">
    <h1 class="content__header">Work with group</h1>
    <div class="containt-fluid">
        <div class="row">
            <div class="col-xl-3"></div>
            <div class="col-xl-6">
                <div class="card">
                    <div class="card-header">Group</div>
                    <div class="card-body">
                        <form method="post" [formGroup]="form" autocomplete="off" (submit)="onSubmit()">
                            <div class="mb-3 row">
                                <label class="col-sm-2 col-form-label">Name</label>
                                <div class="col-sm-10">
                                    <input class="form-control" type="text" formControlName="name" />
                                    <span class="alert-danger" *ngIf="form.get('name').touched && form.get('name').errors">This field is invalid</span>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label class="col-sm-2 col-form-label">Start date</label>
                                <div class="col-sm-10">
                                    <input class="form-control" type="date" formControlName="startDate" />
                                    <span class="alert-danger" *ngIf="form.get('startDate').touched && form.get('startDate').errors">This field is invalid</span>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label class="col-sm-2 col-form-label">Group status</label>
                                <div class="col-sm-10">
                                    <select class="form-control" formControlName="status">
                                        <option value="">Select status</option>
                                        <option [value]="status" *ngFor="let status of groupStatuses">{{status}}</option>
                                    </select>
                                    <span class="alert-danger" *ngIf="form.get('status').touched && form.get('status').errors">This field is invalid</span>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label class="col-sm-2 col-form-label">Teacher</label>
                                <div class="col-sm-10">
                                    <select class="form-control" formControlName="teacherId">
                                        <option value="">Select teacher</option>
                                        <option [value]="teacher.id" *ngFor="let teacher of teachers">{{teacher.name}} {{teacher.surname}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label class="col-sm-2 col-form-label">Course</label>
                                <div class="col-sm-10">
                                    <select class="form-control" formControlName="courseId" (change)="getStudentForCourse($event.target.value)">
                                        <option value="">Select course</option>
                                        <option [value]="course.id" *ngFor="let course of courses">{{course.title}}</option>
                                    </select>
                                    <span class="alert-danger" *ngIf="form.get('courseId').touched && form.get('courseId').errors">This field is invalid</span>
                                </div>
                            </div>
                            <div class="mb-3" id="students">
                                <p>Students for course</p>
                                <ul class="list-students" *ngIf="studentsForCourse.length > 0; else elseTemplate">
                                    <li class="list-group-item" *ngFor="let student of studentsForCourse">
                                        <label class="list-item">
                                            {{student.name}} {{student.surname}}
                                            <input type="checkbox" [value]="student.id" (change)="onCheckChange($event)" [checked]="student.hasGroup">
                                        </label>
                                    </li>
                                </ul>
                                <ng-template #elseTemplate>
                                    <p class="alert-danger">not found</p>
                                </ng-template>
                            </div>
                            <button type="submit" class="btn btn-success">Ok</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-xl-3"></div>
        </div>
    </div>
</div>