<div class="content">
    <h1 class="content__header">Students</h1>
    <div class="containt-fluid">
        <div class="row">
            <div class="col-xl-2"></div>
            <div class="col-xl-8">
                <div class="card">
                    <div class="card-header">Table</div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class="thead-dark">
                                    <tr>
                                        <th scope="col">Student</th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let student of students | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
                                        <th scope="col"><a href="#" class="modal-link js-studentModal" data-modal="@student.Id">{{student.name}} {{student.surname}}</a></th>
                                        <th scope="col" class="text-center">
                                            <a class="btn btn-success m-1" [routerLink]="['/manager/requests/edit']" [queryParams]="{studentId: student.id}">Add request</a>
                                            <a class="btn btn-success m-1" [routerLink]="['/manager/students/edit', student.id]"><i class="fas fa-edit"></i></a>
                                            <a class="btn btn-danger m-1" (click)="deleteStudent(student.id)"><i class="fas fa-trash"></i></a>
                                        </th>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="studentCount"></ngb-pagination>
                        <a class="btn btn-head" [routerLink]="['/manager/students/edit']">Add new student</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-2"></div>
        </div>
    </div>
</div>