
<div class="content">
    <h1 class="content__header">Student marks</h1>
    <div class="containt-fluid">
        <div class="row">
            <div class="col-xl-2"></div>
            <div class="col-xl-8">
                <div class="card">
                    <ngx-ui-loader [loaderId]="'studentGroupMarksLoader'"></ngx-ui-loader>
                    <div class="card-header">Table</div>
                    <div class="card-body">
                        <div class="mb-3">
                            <input class="form-control" type="text" placeholder="Search..." (input)="search($event.target.value)"/>
                        </div>
                        <div class="table-responsive" *ngIf="filteredGroupMarks.length > 0;else  elseTemplate" >
                            <table class="table">
                                <thead class="thead-dark">
                                    <tr>
                                        <th scope="col">Mark</th>
                                        <th scope="col">Comment</th>
                                        <th scope="col">Material name</th>
                                        <th scope="col">Material type</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let groupMark of filteredGroupMarks | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
                                        <th scope="col">{{groupMark.mark}}</th>
                                        <th scope="col">{{groupMark.comment}}</th>
                                        <th scope="col">{{groupMark.material.name}}</th>
                                        <th scope="col">{{groupMark.material.materialType}}</th>

                                    </tr>
                                </tbody>
                            </table>
                            <ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="filteredGroupMarks.length"></ngb-pagination>
                        </div>
                        <ng-template #elseTemplate>
                            <div>
                                <p class="alert-danger">You have no marks</p>
                            </div>
                        </ng-template>
                    </div>
                </div>
            </div>
            <div class="col-xl-2"></div>
        </div>
    </div>
</div>