@using TrainingCenterCRM.BLL.DTO

@model TeacherModel

@{
    var action = ViewData["Action"];
    ViewData["Title"] = $"{action} teacher";
}
<div class="content">
    <h1 class="content__header">@action teacher</h1>
    <div class="containt-fluid">
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                @using (Html.BeginForm($"{action}Teacher", "Teachers", FormMethod.Post))
                {
                    @Html.HiddenFor(x => x.Id)

                    <div class="mb-3 row">
                        <label asp-for="Name" class="col-sm-3 col-form-label"></label>
                        <div class="col-sm-9">
                            <input class="form-control" type="text" asp-for="Name" />
                            <span asp-validation-for="Name" class="alert-danger"></span>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label asp-for="Surname" class="col-sm-3 col-form-label"></label>
                        <div class="col-sm-9">
                            <input class="form-control" type="text" asp-for="Surname" />
                            <span asp-validation-for="Surname" class="alert-danger"></span>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label asp-for="Age" class="col-sm-3 col-form-label"></label>
                        <div class="col-sm-9">
                            <input class="form-control" type="number" asp-for="Age" />
                            <span asp-validation-for="Age" class="alert-danger"></span>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label asp-for="Bio" class="col-sm-3 col-form-label"></label>
                        <div class="col-sm-9">
                            <input class="form-control" type="text" asp-for="Bio" />
                            <span asp-validation-for="Bio" class="alert-danger"></span>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success">@action teacher</button>
                }
            </div>
            <div class="col-sm-4"></div>
        </div>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial.cshtml")
}