<div class="main">
    <div class="pannel">
        <h1 class="pannel-header">Sign in to Training Center</h1>
        <a class="pannel-link block-link" href="register.html">New to Training Center? Sign up!</a>
        <form class="mt-4">
            <div class="form-group row mb-3">
                <label for="staticEmail" class="col-sm-2 col-form-label pannel-label">Email</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control pannel-input" id="staticEmail" placeholder="Email">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputPassword" class="col-sm-2 col-form-label pannel-label">Password</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control pannel-input" id="inputPassword" placeholder="Password">
                </div>
            </div>
            <div class="pannel-group mt-4 mb-4">
                <button type="submit" class="pannel-btn">Sign in</button>
                <a class="pannel-link block-link" href="password.html">Forgot password?</a>
            </div>
        </form>
    </div>
</div>