<div class="main">
    <div class="pannel">
        <h1 class="pannel-header">Password Recovery</h1>
        <p class="pannel-text text-center">
            Enter your email address and we will send you a link to reset your password.
        </p>
        <form class="mt-4">
            <div class="form-group row mb-3">
                <label for="staticEmail" class="col-sm-2 col-form-label pannel-label">Email</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control pannel-input" id="staticEmail" placeholder="Email">
                </div>
            </div>
            <div class="pannel-group mt-4 mb-4">
                <button type="submit" class="pannel-btn">Reset password</button>
                <a class="pannel-link block-link" href="login.html">Return to login</a>
            </div>
        </form>
    </div>
</div>